In [3]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy
import re
import string

In [4]:
def cleanText(txt):
    whitespace = string.whitespace
    punctuation = "!#$%&\'()*+:;<=>?[\\]^`{|}~"
    tableWhitespace = str.maketrans('','',whitespace)
    tablePunctuation = str.maketrans('','',punctuation)
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    
    return str(removepunctuation)

In [5]:
cleanText('hi \n\t')

'hi'

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
model_ner = spacy.load('./output/model-best/')

In [9]:
print(model_ner)

<spacy.lang.en.English object at 0x00000181B6F130A0>

In [10]:
# Load Image
image = cv2.imread('./data/6.jpg')

# cv2.imshow('businesscard',image)
# cv2.waitKey(0)
# cv2.destroyAllWindows()

# extract data using Pytesseract 
tessData = pytesseract.image_to_data(image)
# convert into dataframe
tessList = list(map(lambda x:x.split('\t'), tessData.split('\n')))
df = pd.DataFrame(tessList[1:],columns=tessList[0])
df.dropna(inplace=True) # drop missing values
df['text'] = df['text'].apply(cleanText)

# convet data into content
df_clean = df.query('text != "" ')
content = " ".join([w for w in df_clean['text']])
print(content)
# get prediction from NER model
doc = model_ner(content)

cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail “com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo

In [11]:
doc

cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail “com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo

In [12]:
from spacy import displacy

In [13]:
displacy.render(doc,style='ent')

In [14]:
docjson = doc.to_json()
docjson.keys()

dict_keys(['text', 'ents', 'tokens'])

In [15]:
doc_text = docjson['text']

In [18]:
doc_text

'cell 8099948528 ga 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail “com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, sec’bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [21]:
datafram_tokens = pd.DataFrame(docjson['tokens'])
datafram_tokens['token'] = datafram_tokens[['start','end']].apply(
    lambda x:doc_text[x[0]:x[1]] , axis = 1)
datafram_tokens.head(10)

   id  start  end                  token
0   0      0    4                   cell
1   1      5   15             8099948528
2   2     16   18                     ga
3   3     19   29             8466045457
4   4     30   35                  email
5   5     36   57  lictsrikant@gmail.com
6   6     58   62                   life
7   7     63   72              insurance
8   8     73   84            corporation
9   9     85   87                     of

In [22]:
datafram_tokens

    id  start  end       token
0    0      0    4        cell
1    1      5   15  8099948528
2    2     16   18          ga
3    3     19   29  8466045457
4    4     30   35       email
..  ..    ...  ...         ...
58  58    448  455     promote
59  59    456  460        your
60  60    461  469    business
61  61    470  476      online
62  62    477  481        pybo

[63 rows x 4 columns]

In [23]:
right_table = pd.DataFrame(docjson['ents'])[['start','label']]
datafram_tokens = pd.merge(datafram_tokens,right_table,how='left',on='start')

In [24]:
datafram_tokens.fillna('O',inplace=True)
datafram_tokens.head(10)

   id  start  end                  token    label
0   0      0    4                   cell        O
1   1      5   15             8099948528  B-PHONE
2   2     16   18                     ga        O
3   3     19   29             8466045457  B-PHONE
4   4     30   35                  email        O
5   5     36   57  lictsrikant@gmail.com  B-EMAIL
6   6     58   62                   life    B-ORG
7   7     63   72              insurance    I-ORG
8   8     73   84            corporation    I-ORG
9   9     85   87                     of    I-ORG

In [25]:
# join lable to df_clean dataframe
df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1 
df_clean['start'] = df_clean[['text','end']].apply(lambda x: x[1] - len(x[0]),axis=1)

In [26]:
dataframe_info = pd.merge(df_clean,datafram_tokens[['start','token','label']],how='inner',on='start')

In [27]:
dataframe_info

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
0,5,1,3,1,1,1,722,53,64,28,90.167198,cell,4,0,cell,O
1,5,1,3,1,1,3,822,53,203,28,96.483879,8099948528,15,5,8099948528,B-PHONE
2,5,1,3,2,1,1,55,55,85,89,47.185547,ga,18,16,ga,O
3,5,1,3,2,1,2,822,95,203,28,96.435081,8466045457,29,19,8466045457,B-PHONE
4,5,1,3,2,2,1,593,136,93,25,89.289780,email,35,30,email,O
5,5,1,3,2,2,3,709,136,316,31,86.249245,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,B-EMAIL
6,5,1,3,3,1,1,46,170,33,14,96.406654,life,62,58,life,B-ORG
7,5,1,3,3,1,2,85,151,92,42,95.806709,insurance,72,63,insurance,I-ORG
8,5,1,3,3,1,3,183,170,117,14,96.909729,corporation,84,73,corporation,I-ORG
9,5,1,3,3,1,4,306,170,20,14,96.172005,of,87,85,of,I-ORG
10,5,1,3,3,1,5,332,170,42,14,96.796776,india,93,88,india,I-ORG
11,5,1,3,3,1,6,668,166,119,37,92.970848,seosrika,102,94,seosrika,B-EMAIL
12,5,1,3,3,1,7,791,165,162,44,91.918060,ntht@gmail,113,103,ntht@gmail,I-EMAIL
13,5,1,3,3,1,8,958,180,67,19,7.601662,“com,118,114,“,I-EMAIL
14,5,1,4,1,1,1,310,228,232,30,92.664276,thathineni,129,119,thathineni,B-NAME
15,5,1,4,1,1,2,557,227,198,32,96.249886,srikanth,138,130,srikanth,I-NAME
16,5,1,5,1,1,1,399,271,147,25,96.546059,insurance,148,139,insurance,B-DES
17,5,1,5,1,1,2,555,271,114,25,96.382957,advisor,156,149,advisor,I-DES
18,5,1,5,1,2,1,328,310,89,31,96.594261,agent,162,157,agent,O
19,5,1,5,1,2,2,428,310,80,25,96.651688,code,167,163,code,O
20,5,1,5,1,2,3,521,310,48,25,92.426491,no.,171,168,no,O
21,5,1,5,1,2,4,582,310,155,25,91.050606,0316164y,180,172,0316164y,O
22,5,1,6,1,1,1,47,396,83,30,96.843925,life,185,181,life,B-ORG
23,5,1,6,1,1,2,145,395,236,32,96.428986,insurance,195,186,insurance,I-ORG
24,5,1,6,1,1,3,395,395,296,32,96.263168,corporation,207,196,corporation,I-ORG
25,5,1,6,1,1,4,706,395,53,32,95.340492,of,210,208,of,I-ORG
26,5,1,6,1,1,5,775,396,107,30,95.340492,india,216,211,india,I-ORG
27,5,1,6,2,1,1,45,441,36,21,96.699669,br.,220,217,br,O
28,5,1,6,2,1,2,93,441,45,22,96.615921,off.,225,221,off,O
29,5,1,6,2,1,3,149,441,42,22,96.824722,lic,229,226,lic,O
30,5,1,6,2,1,4,201,441,79,25,93.299294,"office,",237,230,office,O
31,5,1,6,2,1,5,290,441,163,27,91.747375,"trimulgherry,",251,238,trimulgherry,O
32,5,1,6,2,1,6,465,441,101,22,92.451996,sec’bad,259,252,sec’bad,O
33,5,1,6,2,1,7,576,453,8,3,91.897362,-,261,260,-,O
34,5,1,6,2,1,8,594,441,46,21,96.442276,500,265,262,500,O
35,5,1,6,2,1,9,650,441,53,22,95.835518,016.,270,266,016,B-ORG
36,5,1,6,3,1,1,44,474,62,21,93.283730,add.,275,271,add,O
37,5,1,6,3,1,2,118,474,144,25,92.916100,"borabanda,",286,276,borabanda,O
38,5,1,6,3,1,3,275,474,136,27,93.280846,hyderabad,296,287,hyderabad,O
39,5,1,6,3,1,4,422,486,8,3,93.201012,-,298,297,-,O
40,5,1,6,3,1,5,440,474,45,21,96.027008,500,302,299,500,O
41,5,1,6,3,1,6,495,474,53,21,96.027008,018.,307,303,018,O
42,5,1,6,3,2,1,46,506,430,27,85.618164,"lictsrikant8099948528.blogspot.in,",342,308,lictsrikant8099948528.blogspot.in,O
43,5,1,6,3,2,2,488,506,429,27,89.912384,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,B-WEB
44,5,1,6,3,3,1,44,539,472,25,87.967415,"facebook.com/lictsrikant8099948528,",412,377,facebook.com/lictsrikant8099948528,O
45,5,1,6,3,3,2,526,539,443,22,90.545654,facebook.com/thathineni.srikanth.9,447,413,facebook.com/thathineni.srikanth.9,O
46,5,1,6,3,4,1,46,571,106,21,96.344551,promote,455,448,promote,O
47,5,1,6,3,4,2,161,576,56,22,95.835091,your,460,456,your,O
48,5,1,6,3,4,3,226,571,111,21,96.409111,business,469,461,business,O
49,5,1,6,3,4,4,347,571,74,21,93.162605,online,476,470,online,O
50,5,1,6,3,4,5,432,571,96,27,92.261208,pybo,481,477,pybo,O